.container{
    margin-bottom:50px;
    display:flex;
    gap:50px;
    flex:0.6;
    width:100%;
    justify-content: center;
    align-items: center;
    padding-top:10px;
    padding-bottom: 10px;
    text-decoration:none;

}
.container:not(:last-of-type){
    border-bottom: 1px solid var(--dividerColor);
    padding-bottom:15px;

}
.noUnderline{
    text-decoration: none;
}
.imageContainer{
    flex:0.7;
    height: 290px;
    position:relative;

}
.textContainer{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:30px;
    text-align:justify; 
    text-justify:inter-word;
}
.details{
    
}
.imageContainerMob{
    display: none;
}

.date{
    color:gray;
    margin-right: 10px;
}
.category{
    color:crimson;
    font-weight: 500;
}
.desc{
    font-size: 15px;
    font-weight: 300;
    color:var(--softTextColor);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    
}

.borderBottom{
    border-bottom: 1px solid var(--dividerColor);
}

.link{
    width:max-content;
    padding:2px 10px;
    border-radius: 5px;
    background:#A6A6A6;
    color:#0F172A;
    
}

.overflow_hidden_text8 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  }

@media screen and (max-width:1024px) {
    .title{
        margin:20px 0px;
        font-size:20px;
        text-align: center;
    }
    
}

@media screen and (max-width:768px) {
   .container{
    flex-direction: column;
    padding:2px 10px;
    justify-content: flex-start;
    align-items: flex-start;
    gap:10px;
    padding:10px 5px;
    height:auto;
    margin-bottom:15px;
    width:100%;

   }
   .imageContainer{
    display:none;

   }
   .imageContainerMob{
    display:block;
    width:100%;
    height:300px;

    position: relative;
   }
   .image{
    object-fit: fill;
    height:150px;
    width:100%;
   }
   
    .textContainer{
        flex:0.3;
    }
    .desc{
        display: none;
    }
    .link{
        margin-left: 10px;
        
    }
    .date{
        font-size:11px;
    }
    .category{
        font-size:11px; 
    }
}

