.container{
    margin-top: 20px;
}

.post{
    margin-top:20px;
    display:flex;
    align-items: center;
    gap:50px;
    position: relative;
}
.button.smallButton{
    display: none;
}
.title{
    font-size: 23px;
}
.imgContainer{
    flex:1;
    position:relative;
    height:400px;
    border-radius: 3px;
    

}
.textContainer{
    flex:1;
    flex-direction: column;
    gap:20px;
    display:flex;
}
.image{
    object-fit: cover;

}
.postTitle{
    font-size: 18px;
}
.postDesc{
    font-size:15px;
    font-weight:400;
    color:var(--softTextColor);
}

.button{
    padding: 8px 10px;
    border:none;
    border-radius: 5px;
    width:max-content;
    cursor:pointer;
    transition: all 0.5s ease-in;
    border:1px solid transparent;
    background: var(--textColor);
    color:var(--bg);
}
.button:hover{
    background: var(--bg);
    color:var(--textColor);
    border:1px solid var(--textColor);
}

@media screen and (max-width:1280px) {
    .title{
        font-size: 20px;
    }
    
}

@media screen and (max-width:1023px) {
   
    .textContainer{
        display: none;
    }
    .title{
        z-index:6;
        position: absolute;
        top:35%;

        left:8%;
        right:2%;

    }
    .imgContainer{
        
        position:relative;
        margin-top: 20px;
        height:350px;
        border-radius: 3px;
    }
    .overlay{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:5;
        background-color: rgba(0,0,0,0.3);
    }
 
    
}