.container{
    margin-top:60px;
    
}
.title{
    font-size: 28px;
    margin-bottom: 20px;
}
.subtitle{
    color:gray;
    font-size:16px;
    font-weight:600;
}
.items{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.item{
    display:flex;
    gap:5px;
    padding:0 5px;
    align-items: center;
    text-decoration: none;

}
.item:not(:last-of-type){
    border-bottom:1px solid var(--dividerColor);
    padding-bottom: 15px;

 

}
.item:hover{
    text-decoration: none;
}
.imageContainer{
    flex:0.3;
    position:relative;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
.textContainer{
    flex:0.7;
    display: flex;
    flex-direction: column;
    
}
.postTitle{
    font-size: 12px;
    font-weight: 900;
    color:var(--softTextColor);
    margin: 9px 0;
}
.date{
    color:gray;
}
.categoryList{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;    

}
.category{
    padding:3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color:white;
    margin:8px 5px;
    width:max-content;

}
.category.style{
    background-color:#57c4ff31;
}

.category.frontend{
    background-color:#da85c731;
}

.category.backend{
    background-color:#7fb88133;
}

.category.web3{
    background-color:#ff795736;
}

.category.seo{
    background-color:#ffb04f45;
}

.category.android{
    background-color:#5e4fff31;
}
.category.database{
    background-color:#06ae6031;
}




/* menu list  */
@media screen and (max-width:1024px) {
    
    .container{
        margin-top:20px;
        
    }
    
}

@media screen and (max-width:768px) {
   .container{
    flex-direction: column;
    padding:2px 10px;
    justify-content: flex-start;
    align-items: flex-start;
    gap:10px;
    padding:5px;
    height:auto;
    margin-bottom:5px;
    width:100%;

   }
   .imageContainer{
    display:none;

   }
 
   .imageContainerMob{
    display:block;
    width:100%;
    height:150px;

    position: relative;
   }
   .image{
    object-fit: contain;
    height:150px;
    width:100%;
   }
   
    .textContainer{
        flex:1;
    }
    .desc{
        display: none;
    }
    .title{
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .subtitle{
        color:gray;
        font-size:16px;
        font-weight:600;
        text-align: center;
    }
}
