.container{
    flex:5;
}

.title{
    margin:50px 0px;
    font-size:30px;
}
.post{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap:18px;

}
.cardContainer{
    flex:0.75;
    width:75%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;

}
.sidebar{
    flex:0.25;    
}

@media screen and (max-width:1024px) {
    .title{
        margin:20px 0px;
        font-size:20px;
        text-align: center;
    }
    
}

@media screen and (max-width:768px) {
    .post{
        display: flex;
        flex-direction: column;
        

    }
    .sidebar{
        flex:1;    
    }
    .cardContainer{
        flex:1;
        width:100%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    
    }
}
