.container{
    margin-top: 50px;
    
}

.infoContainer{
    display:flex;
    gap: 20px;
    flex-direction: column;
    flex:0.7;
}
.textContainer{
    border-bottom: 1px solid var(--dividerColor);  
    

}
.sidebar{
    flex:0.3;
}
.imageContainer{
    width:100%;
    height:350px;
    position:relative;
}
.title{
    font-size:35px;
    margin-bottom:25px;
    
}
.user{
    display:flex;
    align-items: center;
    gap: 10px;
    padding-bottom:20px;
}
.userImageContainer{
    width:50px;
    height:50px;
    position:relative;
    
    
}
.profileImage{
    object-fit: cover;
    border-radius: 50%;
}
.content{
    display:flex;
    justify-content: space-between;
    gap:20px;

}
.post{
    flex:0.7;
    margin-top: 60px;
}

.sidebar{
    flex:0.3;

}
.relatedContent{
    margin:20px 0px;
    border-top: 1px solid var(--dividerColor);
    padding:15px;

}



@media screen and (max-width:1024px){
    .wrapper{
      max-width:968px;
      padding-left:16px;
      padding-right:16px;
    }
  }
  
  @media screen and (max-width:640px){
    .content{
        display:flex;
        flex-direction: column;
        gap:20px;
    }
    .userTextContainer{
        margin-left: 3px;
        margin-right: 3px;
    }
    .textContainer{
        padding:0 10px;
    }
    .title{
        font-size: 30px;
    }
    .post{
        padding:0 10px;
    }
    .relatedContent{
        padding:20px 5px 10px 5px;
    
    }
  }
  