.container{
    width: 148px !important;
    max-width: 150px !important;
    height:20px;
    display:flex;
    cursor:pointer;
    background-color: black;
    justify-content:space-between ;
    border-radius: 50px;
    position:relative;
    align-items: center;

}

.ball{
    width:15px;
    height:15px;
    border-radius: 50%;
    background-color:white ;
    position:absolute;
    transition: all 5s ease-in-out;
    top:15%;

}

@media screen and (max-width:768px) {
    .container{
        width: 60px !important;
    }

    
}