.button,.addButton{
    position:relative;
    width:25px;
    height:25px;
    padding:4px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border:none;
    margin-top: 5px;
    
}

.input{
    padding:30px 50px;
    margin-top: 30px;
    font-size: 64px;
    border:none;
    outline: none;
    background-color: transparent;
    color:#fff;
    

}
.categoryWrapper{
    margin:10px 0px;
    border:none;
    outline: none;
}
.categorySelect{
    border:none;
    outline: none;
    padding:10px 4px;
    background-color: transparent;
    color:var(--textColor);
}

.editor{
    display:flex;
    gap:20px;
    height:500px;
    position: relative;
}

.textArea{
    width:100%;
}
.add{
    display:flex;
    gap:20px;
    background-color: var(--bg);
    position:absolute;
    z-index:999;
    width:100%;
    left:5%;

}

.input::placeholder{
    color:#b3b3b1;
}

.publish{
    position:absolute;
    top:12%;
    right:8%;
    padding:5px 30px;
    border:none;
    background-color: #1a8917;
    color:white;
    cursor:pointer;
    border-radius:5px;
    
}

.assetContainer{
    width:100%;
    height:50vh;
    position: relative;
    margin:55px 0px 20px 0px;

}


.closeImage,.closeImage2{
    position: absolute;
    right:0;
    top:10%;
    z-index:350;
    background-color: red;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;

}
.closeImage2{
    top:5%;
    right:1%;
}
.video{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:310;
}
.options{
    color:var(--bg);
}