.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.social{
    display:flex;
    gap:20px;
    flex:1;
    justify-content: flex-end;

}
.logo{
    font-family: 'Bree Serif', serif;
    font-size: 45px;
    flex:1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.links{
    display:flex;
    gap:20px;
    align-items: center;


    flex:1.1;
    

}


/* media queries */

@media screen and (max-width:1280px) {
    .logo{
        font-size:32px;
    }
    .links{
        font-size:18px;
        gap:15px;
    }

    
}


@media screen and (max-width:1024px) {
    .social{
        display:none;
    }
    .links{
        text-align:left;
        font-size: 15px;
    }
    .container{
        flex-direction: row-reverse;
    }

    
}


@media screen and (max-width:768px) {
    .logo{
        font-size:24px;
    }

    
}

@media screen and (max-width:648px) {
    .link{
        display:none;
    }
    .links{
        flex:0.2;
   
        gap:2px;
    }
    .container{
        justify-content: flex-start;
    }



    
}